@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&family=Sniglet:wght@400;800&display=swap');

$biggyfont: 'Bebas Neue', cursive;
$handfont: 'Sniglet', cursive;
$sansseriffont: 'Mulish', sans-serif;
$seriffont: 'Playfair Display', serif;
$primaryColor: #e07138;
$blackBackground: #170B06;
$almostWhite: #EDEDED;
