@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&family=Sniglet:wght@400;800&display=swap");
body {
  font-family: "Mulish", sans-serif;
}

nav {
  background-color: #170B06;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 0;
  margin-left: 0;
}
nav ul {
  padding-left: 0;
  margin-left: 0;
  display: inline-flex;
  list-style-type: none;
  align-items: center;
}
nav li.navli {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
nav li.navli a, nav li.navli a:active, nav li.navli a:hover, nav li.navli a:visited, nav li.navli a:focus, nav li.navli a:link {
  color: #EDEDED;
  text-decoration: none;
  background-position-y: 0%;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  background-image: linear-gradient(#170B06 50%, #e07138 50%);
  transition: background 500ms ease;
  background-size: 2px;
  background-size: auto 175%;
}
nav li.navli a:hover {
  background-position-y: 100%;
}

body.frontpage {
  background-color: #170B06;
  color: #EDEDED;
}

.highlight {
  background: linear-gradient(104deg, rgba(130, 255, 173, 0) 0.9%, #82ffad 2.4%, rgba(130, 255, 173, 0.5) 5.8%, rgba(130, 255, 173, 0.1) 93%, rgba(130, 255, 173, 0.7) 96%, rgba(130, 255, 255, 0) 98%), linear-gradient(183deg, rgba(130, 255, 173, 0) 0%, rgba(130, 255, 173, 0.3) 7.9%, rgba(130, 255, 173, 0) 15%);
  padding: 0.6em 13.7px;
  -webkit-box-decoration-break: clone;
  margin: 0;
  border-radius: 7.5px;
  text-shadow: -12px 12px 9.8px rgba(130, 255, 173, 0.7), 21px -18.1px 7.3px white, -18.1px -27.3px 30px white;
}

#ptica2 {
  position: relative;
  bottom: 300px;
  right: -90px;
}

#ptica1 {
  position: relative;
  top: -280px;
  right: -200px;
}

#ptica3 {
  position: relative;
  top: -300px;
  right: -300px;
}

#ptica4 {
  position: relative;
  top: -290px;
  right: -120px;
}

.hugetext {
  font-size: 5em;
}

.shape {
  background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  transition: all 1s ease-in-out;
  z-index: 5;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  }
}
.hand {
  font-family: "Sniglet", cursive;
}

.leadtext {
  font-size: 2em;
}

.breathingspace {
  line-height: 1em;
  margin-bottom: 0.5em;
}

.breather {
  margin-top: 100px;
}

.steps a, .steps a:active, .steps a:hover, .steps a:visited, .steps a:focus, .steps a:link, .primary-frontpage a, .primary-frontpage a:active, .primary-frontpage a:hover, .primary-frontpage a:visited, .primary-frontpage a:focus, .primary-frontpage a:link {
  color: #EDEDED;
  text-decoration: none;
  background-position-y: 0%;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, #e07138 50%);
  transition: background 500ms ease;
  background-size: 2px;
  background-size: auto 175%;
}
.steps a:hover, .primary-frontpage a:hover {
  background-position-y: 100%;
}

.footer-zum {
  margin-bottom: 100px;
}
.footer-zum a, .footer-zum a:active, .footer-zum a:hover, .footer-zum a:visited, .footer-zum a:focus, .footer-zum a:link {
  color: #e07138;
  text-decoration: none;
}
.footer-zum a:hover {
  text-decoration: underline;
}

.bigbreather {
  margin-top: 200px;
}

.morebreathingspace {
  margin-top: 32px;
}

.imgj {
  position: relative;
  display: inline-block;
}

.overlay {
  display: none;
}

.imgj:hover .overlay {
  width: 200px;
  height: 200px;
  background: #e07138;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 128px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* All other styling - see example */
}
.imgj:hover .overlay p {
  position: relative;
  top: 0%;
  left: 35%;
  font-family: "Sniglet", cursive;
}
.imgj:hover .overlay img {
  vertical-align: top;
  /* Default is baseline, this fixes a common alignment issue */
}

.modal {
  padding: 0 !important;
  background-color: #170B06;
  color: #EDEDED;
}
.modal a, .modal a:active, .modal a:hover, .modal a:visited, .modal a:focus, .modal a:link {
  color: #EDEDED;
  text-decoration: none;
  background-position-y: 0%;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  background-image: linear-gradient(#170B06 50%, #e07138 50%);
  transition: background 500ms ease;
  background-size: 2px;
  background-size: auto 175%;
}
.modal a:hover {
  background-position-y: 100%;
}

.modal .modal-dialog {
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0;
  background-color: #170B06;
  color: #EDEDED;
}

.modal .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
  background-color: #170B06;
  color: #EDEDED;
}

.modal .modal-body {
  overflow-y: auto;
  background-color: #170B06;
  color: #EDEDED;
}

.primary-frontpage {
  background-image: url("https://togetherforknowledge.eu/cover.jpg");
  background-size: cover;
}

.hugebox {
  padding: 2%;
}

/*# sourceMappingURL=compiled.css.map */
